@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
h1:hover{
    font-family: "Outfit", sans-serif;

}
body{
    font-family: "Outfit", sans-serif;
    background-color: #8C2C16
}